<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>京西商城-用户中心</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main3.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main2.css">
    <link rel="stylesheet" href="../static/css/normalize2.css" />
    <link rel="stylesheet" href="../static/css/base2.css" />
    <link rel="stylesheet" href="../static/css/collect_cart2.css">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/collect.js"></script>
    <style>
        .myGood {
            margin-left: 100px;
        }
        .myPrice {
            margin-left: 230px;
        }
        .myShop {
            margin-right: 30px;
        }
        .mylittleSum{
            margin-right: 35px;
        }
        .ope{
            margin-right: -30px;
        }
    </style>
</head>
<body><div data-v-7e2550d6="" class="odm_extension image_downloader_wrapper"><!----></div>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到京西商城!</div>
			<div class="fr">
				{% if user.isLogin %}
				<div class="login_btn fl">
					欢迎您：<em>{{ user.name }}</em>
                    <span>|</span>
					<a href="logout">退出</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="login">登录</a>
					<span>|</span>
					<a href="register">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info">用户中心</a>
					<span>|</span>
					<a href="cart">我的购物车</a>
					<span>|</span>
					<a href="orderlist">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index_template" class="logo fl"><img src="../static/images/jx.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="user_center_info">· 个人信息</a></li>
				<li><a href="user_center_site"  class="active">· 收藏夹</a></li>
				<li><a href="cart">· 购物车</a></li>
				<li><a href="user_center_order">· 全部订单</a></li>
				<li><a href="user_center_site">· 收货地址</a></li>
				<li><a href="merchant_register">· 商家入驻</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="allgoods">

                <div class="cart-main">
                    <div class="cart-th clearfix">
                        <div class="myGood">商品</div>
                        <div class="myPrice">单价（元）</div>
                        <div class="myShop">店铺</div>
                        <div class="mylittleSum">添加</div>
                        <div class="ope">操作</div>
                    </div>
                    <div class="cart-item-list">
                        <div class="cart-body">
                            <div class="cart-list">
                                {% for good in goodsList %}
                                <ul class="goods-list yui3-g active">
                                    <li class="yui3-u-3-8 pr">
                                        <div class="good-item">
                                            <div class="item-img">
                                                <img  width="90" height="90" src="{{good.img}}">
                                            </div>
                                            <div class="item-msg">{{good.name}}</div>
                                        </div>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <span></span>
                                        <br>
                                        <span></span>
                                        <br>
                                        <span></span>
                                        <br>
                                        <span></span>
                                        <br>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <span class="price">{{good.price}}</span>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <!--<div class="youhuo">店铺名</div>-->
                                        <div>{{good.shopName}}</div>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <a class="sum" href="/detail_template?gid={{ good.goods_id }}" id="sumPrice">去购买</a>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <div class="del1">
                                            <a href="javascript:;" delUser="{{user}}"delGood="{{good.goods_id}}">删除</a>
                                        </div>
                                        <!-- <div>移到我的关注</div> -->
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
		</div>
	</div>
    <!--	删除收藏货物的ajax传输-->
	<script>
		 $(function() {
     	 $(".del1 a").click(function() {
         	console.log("hhhh")
         	var deluse=$(this).attr('delUser');
            var delgid=$(this).attr('delGood');
        	var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        	$.ajax({
        	url:"/favorite",
        	type:"POST",
        	data:JSON.stringify({'user':deluse,'goods_id':delgid,"csrfmiddlewaretoken": token}),
        	dataType : "text"
        	})
         });

         });
	</script>
<footer>
        <div class="footer">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span> | </span>
                <a href="#">联系客服</a>
                <span> | </span>
                <a href="#">合作招商</a>
                <span> | </span>
                <a href="#">商家帮助</a>
                <span> | </span>
                <a href="#">营销中心</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © 2021 重庆京西科技有限公司 All Rights Reserved</p>
            <p>电话：023-****888    京ICP备*******8号</p>
        </div>
    </footer>

</body>
</html>