<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>京西商城-首页</title>
	<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../static/css/mainzls.css">
	<script type="text/javascript" src="../static/js/jquery-1.12.4.min1.js"></script>
	<script type="text/javascript" src="../static/js/w2.js"></script>
	<script type="text/javascript" src="../static/js/slidezls.js"></script>
	<script type="text/javascript" src="../static/js/login.js"></script>
	<!-- <script type="text/javascript" src="../static/js/w1.js"></script> -->
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到京西商城!</div>
			<div class="fr">
{#				{% user %}#}
				<div class="login_zls1">
					<li><input type="text" value=1></li>
				</div>
				<div class="login_zls fl">
					<div class="login_btn fl">
						<a href="#"><img src="../static/images/my1.png" alt="">&nbsp;&nbsp;</a>				
					</div>
					<div class="login_btn fl">
						<!-- <a href="login.html">您还未登录..</a>
											 -->
						<p>您还未登录..</p>
						
					</div>
					<div class="login_btn fl"><span>|</span></div>
				</div>
				<div class="login_zls2 fl">
					<div class="login_btn fl">
						<a href="#"><img src="../static/images/my2.png" alt="">&nbsp;&nbsp;</a>				
					</div>
					<div class="login_btn fl">
						<p>欢迎您：<em>张山</em></p>
						
					</div>
					<div class="login_btn fl"><span>|</span></div>
				</div>
				<div class="login_btn1 fl">
					
					<a href="login.html">登录</a>
					
				</div>
				<div class="login_btn2 fl">
					
					<a href="login.html">退出登录</a>
					
				</div>
				<div class="login_btn fl">
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
					<span>|</span>
					<a href="cart.html">收藏夹</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="../static/images/jx.png"></a>
		<div class="search_con fl">

			<!-- 搜索功能 -->
				<input type="text" class="input_text fl" name="goods.type" placeholder="搜索商品">
			<!-- 搜索商品类型 -->
               <a href="detail1.html" id="search1"><input type="submit" class="input_btn fr" value="搜索"></a>
		</div>
		<div class="guest_cart fr">
			<a href="cart.html" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl" id="show_count1">0</div>
			<div class="goods_count1 fl" id="show_count">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">全部商品分类</h1>
			<ul class="navlist fl">
				<li><a href="index.html">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">家用电器</a></li>
				<li class="interval">|</li>
				<li><a href="">水果</a></li>
				<li class="interval">|</li>
				<li><a href="">服装</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl" id="navi">
			
			<li><a href="#model01">赛课件撒&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&gt;</a></li>
			<li><a href="#model02" >手机营商&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&gt;</a></li>
			<li><a href="#model03" class="meet">电脑办公&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&gt;</a></li>
			<li><a href="#model04" class="egg">各类服装&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&gt;</a></li>
			<li><a href="#model05" class="vegetables">美妆护肤&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&gt;</a></li>
			<li><a href="#model06" class="ice">女鞋-箱包&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&gt;</a></li>
		</ul>
		<div class="content">
			<div>
				<div class="channel">
					<a href="#">家电馆  ></a>
					<a href="#">家电专卖店  ></a>
					<a href="#">家电服务  ></a>
					<a href="#">企业采购  ></a>
					<a href="#">商用电器  ></a>
					<a href="#">以旧换新  ></a>
				</div>
				<div class="cate_detail">
					<dl>
						<dt><a href="#">电视  ></a></dt>
						<div>
							<dd><a href="#">超薄电视</a></dd>
							<dd><a href="#">全面屏电视</a></dd>
							<dd><a href="#">智能电视</a></dd>
							<dd><a href="#">OLED电视</a></dd>
							<dd><a href="#">智慧屏</a></dd>
							<dd><a href="#">4K超清电视</a></dd>
							<dd><a href="#">55英寸</a></dd>
							<dd><a href="#">65英寸</a></dd>
							<dd><a href="#">电视配件</a></dd>
						</div>
					</dl>
				</div>
				<div class="cate_detail">
					<dl>    
						<dt><a href="#">空调  ></a></dt>
						<div>
							<dd><a href="#">空调挂机</a></dd>
							<dd><a href="#">空调柜机</a></dd>
							<dd><a href="#">中央空调</a></dd>
							<dd><a href="#">变频空调</a></dd>
							<dd><a href="#">一级能效</a></dd>
							<dd><a href="#">移动空调</a></dd>
							<dd><a href="#">以旧换新</a></dd>
						</div>
					</dl>
				</div>
				<div class="cate_detail">
					<dl>
						<dt><a href="#">洗衣机  ></a></dt>
						<div>
							<dd><a href="#">以旧换新</a></dd>
							<dd><a href="#">滚筒洗衣机</a></dd>
							<dd><a href="#">洗烘一体机</a></dd>
							<dd><a href="#">波轮洗衣机</a></dd>
							<dd><a href="#">迷你洗衣机</a></dd>
							<dd><a href="#">烘干机</a></dd>
							<dd><a href="#">洗衣机配件</a></dd>
						</div>
					</dl>
				</div>
				<div class="cate_detail">
					<dl>      
						<dt><a href="#">冰箱  ></a></dt>
						<div>
							<dd><a href="#">多门</a></dd>
							<dd><a href="#">对开门</a></dd>
							<dd><a href="#">三门</a></dd>
							<dd><a href="#">双门</a></dd>
							<dd><a href="#">冷柜/冰吧</a></dd>
							<dd><a href="#">酒柜</a></dd>
							<dd><a href="#">冰箱配件</a></dd>
						</div>
					</dl>
				</div>
				
				
			</div>
			<div>
					<div class="channel">
						<a href="#">玩3C  ></a>
						<a href="#">手机频道  ></a>
						<a href="#">网上营业厅  ></a>
						<a href="#">配件频道  ></a>
						<a href="#">智能数码  ></a>
						<a href="#">影像Club  ></a>
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">手机通讯  ></a></dt>
							<div>
								<dd><a href="#">手机</a></dd>
								<dd><a href="#">游戏手机</a></dd>
								<dd><a href="#">老人机</a></dd>
								<dd><a href="#">对讲机</a></dd>
								<dd><a href="#">以旧换新</a></dd>
								<dd><a href="#">手机维修</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>    
							<dt><a href="#">运营商  ></a></dt>
							<div>	 
								<dd><a href="#">合约机</a></dd>
								<dd><a href="#">手机卡</a></dd>
								<dd><a href="#">宽带</a></dd>
								<dd><a href="#">办套餐</a></dd>
								<dd><a href="#">充话费/流量</a></dd>
								<dd><a href="#">中国电信</a></dd>
								<dd><a href="#">中国移动</a></dd>
								<dd><a href="#">中国联通</a></dd>
								<dd><a href="#">京东通信</a></dd>
								<dd><a href="#">挑靓号</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">洗衣机  ></a></dt>
							<div>
								<dd><a href="#">以旧换新</a></dd>
								<dd><a href="#">滚筒洗衣机</a></dd>
								<dd><a href="#">洗烘一体机</a></dd>
								<dd><a href="#">波轮洗衣机</a></dd>
								<dd><a href="#">迷你洗衣机</a></dd>
								<dd><a href="#">烘干机</a></dd>
								<dd><a href="#">洗衣机配件</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>      
							<dt><a href="#">手机配件  ></a></dt>
							<div>
								<dd><a href="#">手机壳</a></dd>
								<dd><a href="#">贴膜</a></dd>
								<dd><a href="#">手机存储卡</a></dd>
								<dd><a href="#">数据线</a></dd>
								<dd><a href="#">充电器</a></dd>
								<dd><a href="#">手机耳机</a></dd>
								<dd><a href="#">创意配件</a></dd>
								<dd><a href="#">手机饰品</a></dd>
								<dd><a href="#">手机电池</a></dd>
								<dd><a href="#">苹果周边</a></dd>
								<dd><a href="#">移动电源</a></dd>
								<dd><a href="#">蓝牙耳机</a></dd>
								<dd><a href="#">手机支架</a></dd>
								<dd><a href="#">车载配件</a></dd>
								<dd><a href="#">拍照配件</a></dd>
							</div>
						</dl>
					</div>
					
			</div>
			<div>
					<div class="channel">
						<a href="#">玩3C  ></a>
						<a href="#">电脑办公  ></a>
						<a href="#">企业采购  ></a>
						<a href="#">GAME+  ></a>
						<a href="#">装机大师  ></a>
						<a href="#">私人定制  ></a>
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">电脑整机  ></a></dt>
							<div>
								<dd><a href="#">笔记本</a></dd>
								<dd><a href="#">游戏本</a></dd>
								<dd><a href="#">平板电脑</a></dd>
								<dd><a href="#">平板电脑配件</a></dd>
								<dd><a href="#">台式机</a></dd>
								<dd><a href="#">一体机</a></dd>
								<dd><a href="#">服务器/工作站</a></dd>
								<dd><a href="#">笔记本配件</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>    
							<dt><a href="#">电脑配件  ></a></dt>
							<div>
								<dd><a href="#">显示器</a></dd>
								<dd><a href="#">CPU</a></dd>
								<dd><a href="#">主板</a></dd>
								<dd><a href="#">显卡</a></dd>
								<dd><a href="#">硬盘</a></dd>
								<dd><a href="#">内存</a></dd>
								<dd><a href="#">机箱</a></dd>
								<dd><a href="#">电源</a></dd>
								<dd><a href="#">散热器</a></dd>
								<dd><a href="#">显示器</a></dd>
								<dd><a href="#">支架</a></dd>
								<dd><a href="#">刻录机/光驱</a></dd>
								<dd><a href="#">声卡/扩展卡</a></dd>
								<dd><a href="#">装机配件</a></dd>
								<dd><a href="#">SSD固态硬盘</a></dd>
								<dd><a href="#">组装电脑</a></dd>
								<dd><a href="#">USB分线器</a></dd>
								<dd><a href="#">主板CPU套装</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">外设产品  ></a></dt>
							<div>
								<dd><a href="#">鼠标键盘</a></dd>
								<dd><a href="#">键鼠套装</a></dd>
								<dd><a href="#">网络仪表仪器</a></dd>
								<dd><a href="#">U盘</a></dd>
								<dd><a href="#">移动硬盘</a></dd>
								<dd><a href="#">鼠标垫</a></dd>
								<dd><a href="#">摄像头</a></dd>
								<dd><a href="#">线缆</a></dd>
								<dd><a href="#">手写板</a></dd>
								<dd><a href="#">硬盘盒</a></dd>
								<dd><a href="#">电脑工具</a></dd>
								<dd><a href="#">电脑清洁</a></dd>
								<dd><a href="#">UPS电源插座</a></dd>
							</div>
						</dl>
					</div>
					
					
			</div>
			<div>
					<div class="channel">
						<a href="#">男装  ></a>
						<a href="#">女装  ></a>
						<a href="#">内衣  ></a>
						<a href="#">童装童鞋  ></a>
						
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">女装  ></a></dt>
							<div>
								<dd><a href="#">当季热卖</a></dd>
								<dd><a href="#">新品推荐</a></dd>
								<dd><a href="#">商场同款</a></dd>
								<dd><a href="#">时尚套装</a></dd>
								<dd><a href="#">连衣裙</a></dd>
								<dd><a href="#">半身裙</a></dd>
								<dd><a href="#">T恤</a></dd>
								<dd><a href="#">牛仔裤</a></dd>
								<dd><a href="#">卫衣</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>    
							<dt><a href="#">男装  ></a></dt>
							<div>
								<dd><a href="#">当季热卖</a></dd>
								<dd><a href="#">新品推荐</a></dd>
								<dd><a href="#">时尚套装</a></dd>
								<dd><a href="#">T恤</a></dd>
								<dd><a href="#">休闲裤</a></dd>
								<dd><a href="#">衬衫</a></dd>
								<dd><a href="#">短裤</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">童装  ></a></dt>
							<div>
								<dd><a href="#">套装</a></dd>
								<dd><a href="#">卫衣</a></dd>
								<dd><a href="#">裤子</a></dd>
								<dd><a href="#">外套/大衣</a></dd>
								<dd><a href="#">毛衣/针织衫</a></dd>
								<dd><a href="#">衬衫</a></dd>
								<dd><a href="#">户外/运动服</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>      
							<dt><a href="#">内衣  ></a></dt>
							<div>
								<dd><a href="#">文胸</a></dd>
								<dd><a href="#">睡衣</a></dd>
								<dd><a href="#">男士内裤</a></dd>
								<dd><a href="#">女士内裤</a></dd>
								<dd><a href="#">吊带/背心</a></dd>
								<dd><a href="#">情侣睡衣</a></dd>
								<dd><a href="#">休闲棉袄</a></dd>
							</div>
						</dl>
					</div>
					
			</div>
			<div>
					<div class="channel">
						<a href="#">天天5折  ></a>
						<a href="#">家电馆  ></a>
						<a href="#">家电专卖店  ></a>
						<a href="#">家电服务  ></a>
						<a href="#">企业采购  ></a>
						<a href="#">商用电器  ></a>
						<a href="#">以旧换新  ></a>
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">电视  ></a></dt>
							<div>
								<dd><a href="#">超薄电视</a></dd>
								<dd><a href="#">全面屏电视</a></dd>
								<dd><a href="#">智能电视</a></dd>
								<dd><a href="#">OLED电视</a></dd>
								<dd><a href="#">智慧屏</a></dd>
								<dd><a href="#">4K超清电视</a></dd>
								<dd><a href="#">55英寸</a></dd>
								<dd><a href="#">65英寸</a></dd>
								<dd><a href="#">电视配件</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>    
							<dt><a href="#">空调  ></a></dt>
							<div>
								<dd><a href="#">空调挂机</a></dd>
								<dd><a href="#">空调柜机</a></dd>
								<dd><a href="#">中央空调</a></dd>
								<dd><a href="#">变频空调</a></dd>
								<dd><a href="#">一级能效</a></dd>
								<dd><a href="#">移动空调</a></dd>
								<dd><a href="#">以旧换新</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>
							<dt><a href="#">洗衣机  ></a></dt>
							<div>
								<dd><a href="#">以旧换新</a></dd>
								<dd><a href="#">滚筒洗衣机</a></dd>
								<dd><a href="#">洗烘一体机</a></dd>
								<dd><a href="#">波轮洗衣机</a></dd>
								<dd><a href="#">迷你洗衣机</a></dd>
								<dd><a href="#">烘干机</a></dd>
								<dd><a href="#">洗衣机配件</a></dd>
							</div>
						</dl>
					</div>
					<div class="cate_detail">
						<dl>      
							<dt><a href="#">冰箱  ></a></dt>
							<div>
								<dd><a href="#">多门</a></dd>
								<dd><a href="#">对开门</a></dd>
								<dd><a href="#">三门</a></dd>
								<dd><a href="#">双门</a></dd>
								<dd><a href="#">冷柜/冰吧</a></dd>
								<dd><a href="#">酒柜</a></dd>
								<dd><a href="#">冰箱配件</a></dd>
							</div>
						</dl>
					</div>
					
			</div>
			<div>
				<div class="channel">
					<a href="#">天天5折  ></a>
					<a href="#">家电馆  ></a>
					<a href="#">家电专卖店  ></a>
					<a href="#">家电服务  ></a>
					<a href="#">企业采购  ></a>
					<a href="#">商用电器  ></a>
					<a href="#">以旧换新  ></a>
				</div>
				<div class="cate_detail">
					<dl>
						<dt><a href="#">电视  ></a></dt>
						<div>
							<dd><a href="#">超薄电视</a></dd>
							<dd><a href="#">全面屏电视</a></dd>
							<dd><a href="#">智能电视</a></dd>
							<dd><a href="#">OLED电视</a></dd>
							<dd><a href="#">智慧屏</a></dd>
							<dd><a href="#">4K超清电视</a></dd>
							<dd><a href="#">55英寸</a></dd>
							<dd><a href="#">65英寸</a></dd>
							<dd><a href="#">电视配件</a></dd>
						</div>
					</dl>
				</div>
				<div class="cate_detail">
					<dl>    
						<dt><a href="#">空调  ></a></dt>
						<div>
							<dd><a href="#">空调挂机</a></dd>
							<dd><a href="#">空调柜机</a></dd>
							<dd><a href="#">中央空调</a></dd>
							<dd><a href="#">变频空调</a></dd>
							<dd><a href="#">一级能效</a></dd>
							<dd><a href="#">移动空调</a></dd>
							<dd><a href="#">以旧换新</a></dd>
						</div>
					</dl>
				</div>
				<div class="cate_detail">
					<dl>
						<dt><a href="#">洗衣机  ></a></dt>
						<div>
							<dd><a href="#">以旧换新</a></dd>
							<dd><a href="#">滚筒洗衣机</a></dd>
							<dd><a href="#">洗烘一体机</a></dd>
							<dd><a href="#">波轮洗衣机</a></dd>
							<dd><a href="#">迷你洗衣机</a></dd>
							<dd><a href="#">烘干机</a></dd>
							<dd><a href="#">洗衣机配件</a></dd>
						</div>
					</dl>
				</div>
				<div class="cate_detail">
					<dl>      
						<dt><a href="#">冰箱  ></a></dt>
						<div>
							<dd><a href="#">多门</a></dd>
							<dd><a href="#">对开门</a></dd>
							<dd><a href="#">三门</a></dd>
							<dd><a href="#">双门</a></dd>
							<dd><a href="#">冷柜/冰吧</a></dd>
							<dd><a href="#">酒柜</a></dd>
							<dd><a href="#">冰箱配件</a></dd>
						</div>
					</dl>
				</div>
				
		</div>
			<div>
			</div>
		</div>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="../static/images/sid1.png" alt="幻灯片"></li>
				<li><img src="../static/images/sid2.png" alt="幻灯片"></li>
				<li><img src="../static/images/sid3.png" alt="幻灯片"></li>
				<li><img src="../static/images/sid4.png" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="../static/images/adv01.jpg"></a>
			<a href="#"><img src="../static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{GoodsCategory.name}}</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">电视</a>
				<a href="#">空调</a>
				<a href="#">冰箱</a>
			</div>
			<a href="#" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="list.html"><img src="../static/images/banner01.jpg"></a></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="detail.html">{{goods.name}}</a></h4>
					<a href="list.html"><img src={{goods.img}}></a>
					<div class="prize">{{goods.price}}</div>
				</li>
				<li>
					<h4><a href="#">葡萄</a></h4>
					<a href="#"><img src="../static/images/goods/goods002.jpg"></a>
					<div class="prize">¥ 5.50</div>
				</li>
				<li>
					<h4><a href="#">柠檬</a></h4>
					<a href="#"><img src="../static/images/goods/goods001.jpg"></a>
					<div class="prize">¥ 3.90</div>
				</li>
				<li>
					<h4><a href="#">奇异果</a></h4>
					<a href="#"><img src="../static/images/goods/goods012.jpg"></a>
					<div class="prize">¥ 25.80</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">河虾</a>
				<a href="#">扇贝</a>				
			</div>
			<a href="list.html" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="list.html"><img src="../static/images/banner02.jpg"></a></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="#">青岛野生海捕大青虾</a></h4>
					<a href="#"><img src="../static/images/goods/goods018.jpg"></a>
					<div class="prize">¥ 48.00</div>
				</li>
				<li>
					<h4><a href="#">扇贝</a></h4>
					<a href="#"><img src="../static/images/goods/goods019.jpg"></a>
					<div class="prize">¥ 46.00</div>
				</li>
				<li>
					<h4><a href="#">冷冻秋刀鱼</a></h4>
					<a href="#"><img src="../static/images/goods/goods020.jpg"></a>
					<div class="prize">¥ 19.00</div>
				</li>
				<li>
					<h4><a href="#">基围虾</a></h4>
					<a href="#"><img src="../static/images/goods/goods021.jpg"></a>
					<div class="prize">¥ 25.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="list.html"><img src="../static/images/banner03.jpg"></a></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="#">维多利亚葡萄维多利亚葡萄维多利亚葡萄维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="list.html"><img src="../static/images/banner04.jpg"></a></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="#">维多利亚葡萄维多利亚葡萄维多利亚葡萄维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="list.html"><img src="../static/images/banner05.jpg"></a></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="#">维多利亚葡萄维多利亚葡萄维多利亚葡萄维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><a href="list.html"><img src="../static/images/banner06.jpg"></a></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="#">维多利亚葡萄维多利亚葡萄维多利亚葡萄维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="../static/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="footer">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2021 重庆大学-CQU-University</p>
		<p>电话：010-****888    渝ICP备*******8号</p>
	</div>
	<script type="text/javascript" src="../static/js/slideshow.js"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>
	<script type="text/javascript">
		// 点击商品类型，进入该商品类型商品列表，向后端传商品类型id
		$(".list_zls a").click(function() {
			var itgid=$(this).attr('GoodsCategory.id ');
			$.ajax({
				url:"/goods",
				type:"POST",
				data:JOSN.stringify ({'gid':itGid}),
				dataType:"text"
			})
		})
		//点击热点商品图片，进入该商品详情页，向后端传商品id
		$(".adv a").click(function(){
			var itgid=$(this).attr('hotgod.gooos_id');
			$.ajax({
				url:"/goods",
				type:"POST",
				data:JOSN.stringify ({'gid':itGid}),
				dataType:"text"
			})
		})
		//搜索框输入商品类型，进去该商品类型列表，向后端传用户输入商品类型名称
		$(".input_btn").click(function() {
			var type=$(".input_text").val();
			// 判断用户输入是否为空
			if(type == ''|| type==null  ) {
				var aobj = document.getElementById("search1");
				aobj.href="";
				alert('未输入商品名称！')
				
			}	
			else{
				$.ajax({
					url:"/goods",
					type:"POST",
					data:JOSN.stringify({'gname':type}),
					dataType:"text"
				})
			}
			
		})
		// 点击更多，进入该商品类型商品列表，向后端传该商品类型id
		$(".goods_more a").click(function(){
			var itgid=$(this).attr('GoodsCategory.id ');
			$.ajax({
				url:"/goods",
				type:"POST",
				data:JOSN.stringify ({'gid':itGid}),
				dataType:"text"
			})
		})
		//点击商品类型图片，进入该商品类型商品列表，向后端传该商品类型id
		$(".goods_banner a").click(function(){
			var itgid=$(this).attr('GoodsCategory.id ');
			$.ajax({
				url:"/goods",
				type:"POST",
				data:JOSN.stringify ({'gid':itGid}),
				dataType:"text"
			})
		})
		// 点击商品图片，进入该商品详情页，向后端传该商品id
		$(".goods_list a").click(function(){
			var itgid=$(this).attr('goods.goods_id');
			$.ajax({
				url:"/goods",
				type:"POST",
				data:JOSN.stringify ({'gid':itGid}),
				dataType:"text"
			})
		})
	</script>	
</body>
</html>
