<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>京西商城-首页</title>
    <link rel="icon" type="image/x-icon" href="./static/images/JingXi.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/mainzls.css">
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/w2.js"></script>
    <script type="text/javascript" src="../static/js/slidezls.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
    <style>
        .tishi {
            height: 180px;
            width: 180px;
            color: white;
            opacity: 0.5;
            line-height: 200px;
<!--            line-height: middle;-->
            text-align: center;
            display:none;
            text-align: center;
            position: absolute;
            font-size: 15px;
            background-color: #000;
            z-index: 1;
            margin-left: 34px
        }
        a:hover .tishi{
            display:block;
            z-index: 1;
        }
        .herea:hover img{
            opacity: 0.1;
            z-index: -1;
        }
        .toHand{
            cursor:pointer;
        }
    </style>
</head>
<body>
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到京西商城!</div>
        <div class="fr">
            {#				<div class="login_zls1">#}
            {#                    <!-- 获取用户状态 -->#}
            {#					<li><input type="text" value={{isauth}}></li>#}
            {#				</div>#}
            <!-- 未登录状态 -->
            <!-- 登录状态下 -->
            {% if isLogin %}
                <div class="login_zls fl">
                    <div class="login_btn1 fl">
                        <!-- 传入用户头像 -->
                        {#                        注意看这个图片的信息参数 需要把长宽调好 否则就会影响到下面的界面 #}
                        {#                        <a href="#"><img src={{ user.img }} alt="">&nbsp;&nbsp;</a>#}
                    </div>
                    <div class="login_btn fl">
                        <!-- 传入用户姓名 -->
                        <p>欢迎您：<em>{{ user.name }}</em></p>
                    </div>
                </div>
                <div class="login_btn fl">
                    <span>|</span>
                </div>
                <div class="login_btn fl">
                    <a href="logout">退出登录</a>
                </div>

            {% else %}
                <div class="login_zls fl">
                    <div class="login_btn fl">
                        <a href="#"><img src="../static/images/my1.png" alt="">&nbsp;&nbsp;</a>
                    </div>
                    <div class="login_btn fl">
                        <p>您还未登录..</p>
                    </div>
                    <div class="login_btn fl"><span>|</span></div>
                </div>
                <div class="login_btn1 fl">
                    <a href="login">登录</a>
                </div>
                <div class="login_btn fl">
                    <span>|</span>
                    <a href="register">注册</a>
                </div>
            {% endif %}
            <div class="user_link fl">
                <span>|</span>
                <a href="user_center_info">用户中心</a>
                <span>|</span>
                <a href="cart">我的购物车</a>
                <span>|</span>
                <a href="user_center_order">我的订单</a>
                <span>|</span>
                <a href="favorite">收藏夹</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="index_template" class="logo fl"><img src="../static/images/jx.png"></a>
    <div class="search_con fl">
        <!-- 搜索功能 -->
        <!--        //搜索框输入商品类型，进去该商品类型列表，向后端传用户输入商品类型名称-->
        <input type="text" class="input_text fl" name="goods.type" placeholder="搜索商品">
        <!-- 搜索商品类型 -->
        <a href="javascript:;" id="search1"><input type="submit" class="input_btn fr" value="搜索"></a>
    </div>
    <div class="guest_cart fr">
        <!-- 如果为登录状态，获取该用户购物车商品数量,否则为0 -->
        <a href="cart" class="cart_name fl">我的购物车</a>
        <div class="goods_count fl" id="show_count1">{{ cartCount }}</div>
    </div>
</div>

<div class="navbar_con">
    <div class="navbar">
        <h1 class="fl">全部商品分类</h1>
        <ul class="navlist fl">
            <!-- 商品类型 6个-->
            {% for GoodsCategory in GoodsCategoryList %}
                <!--                                    点击商品类型，进入该商品类型商品列表，向后端传商品类型id-->
                <li><a href="/list_template?category={{ GoodsCategory.id }}" godname="{{ GoodsCategory.name }}">{{ GoodsCategory.name }}</a></li>
                <li class="interval">|</li>
            {% endfor %}
                <li><a href="/list_template?category=7">日用品</a></li>
        </ul>
    </div>
</div>

<div class="center_con clearfix">
    <a href="detail_template?gid={{ killId }}">
        <div class="countdown-hd fl">
                <h3>京西秒杀</h3>
                <div class="hd_countdown">
                    <strong>14:00</strong>点场 倒计时
                    <div class="timer">
                        <span class="hour">1</span>
                        <span class="minute">2</span>
                        <span class="second">3</span>
                    </div>
                </div>

        </div>
    </a>
    <div class="slide fl">
        <ul class="slide_pics">
            <!-- 轮播图 4张-->
            {% for slide in slideList %}
                <li><a href="{{ slide.text }}"><img src="{{slide.img}}" alt="幻灯片"></a></li>
            {% endfor %}
        </ul>
        <div class="prev"></div>
        <div class="next"></div>
        <ul class="points"></ul>
    </div>
    <div class="adv fl">
        <!-- 热点图 两张 -->
        {% for hotgoods in hotgoodsList %}
            <!--            //点击热点商品图片，进入该商品详情页，向后端传商品id-->
            <a href="/detail_template?gid={{ hotgoods.id }}"><img src="{{ hotgoods.img }}"></a>
        {% endfor %}
    </div>


</div>
<!-- 商品类型展示 -->
{% for GoodsCategory in GoodsCategoryList %}
    <div class="list_model">

        <div class="list_title clearfix">
            <div style="display: flex; align-items: center;">
                <h3 class="fl" id="model0{{ forloop.counter }}" style="width: 10%;"><a href="list_template?category={{ GoodsCategory.id }}" style="color: rgb(201,25,37)">{{ GoodsCategory.name }}</a></h3>
                <a href="list_template?category={{ GoodsCategory.id }}" style="width:90%; text-align: right; margin-right: 10px;">查看更多 >></a>
            </div>
            <div class="subtitle fl">
                <!-- 实例链接 -->
                {#                {% for kind in GoodsCategory.kands %}#}
                {#                    <a href="detail_template">kind.name</a>#}
                {#                {% endfor %}#}
            </div>
            <!--            // 点击更多，进入该商品类型商品列表，向后端传该商品类型id-->
            {#            <a href="/list_template?gname={{ GoodsCategory.name }}" class="goods_more fr" id="fruit_more">查看更多 ></a>#}
        </div>

        <div class="goods_con clearfix">
            <ul class="goods_list fl" style="width: 1200px;">
                <!-- 展示这一类型的商品 4个 -->
                {% for goods in GoodsList %}
                    {% if goods.category_id == GoodsCategory.id %}
                        <!--                // 点击商品图片，进入该商品详情页，向后端传该商品id-->
                        <li class="toHand" style="width: 238px;">
                            <h4><a href="detail_template">{{ goods.name }}</a></h4>
                            <a href="/detail_template?gid={{ goods.id }}" class="herea"><p class="tishi">{{ goods.name }}</p><img class="goodP" src={{ goods.img }}></a>
<!--                            <a href="/detail_template?gid={{ goods.id }}" style="text-align:center" class="tishi"></a>-->
                                <div class="prize">¥{{ goods.price }}</div>
                        </li>
                    {% endif %}
                {% endfor %}

            </ul>
        </div>
    </div>
{% endfor %}
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span> | </span>
                <a href="#">联系客服</a>
                <span> | </span>
                <a href="#">合作招商</a>
                <span> | </span>
                <a href="#">商家帮助</a>
                <span> | </span>
                <a href="#">营销中心</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2021 重庆大学-CQU-University</p>
    <p>电话：010-****888 渝ICP备*******8号</p>
</div>
<script type="text/javascript">
$(function() {
$(".navlist a").click(function () {
        console.log("运行")
        var itgid = $(this).attr('godname');
        var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        $.ajax({
        url:"/list_template/?keyword=.",
        type:"POST",
        data:JSON.stringify({'name':itgid, "csrfmiddlewaretoken":token}),
        dataType : "text"
        })
    })
    // 点击商品类型，进入该商品类型商品列表，向后端传商品类型id
    $(".list_zls a").click(function () {
        var itgid = $(this).attr('GoodsCategory.id ');
        var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        $.ajax({
            url: "/list_template",
            type: "POST",
            data: JOSN.stringify({'gid': itgid,"csrfmiddlewaretoken":token}),
            dataType: "text"
        })
    })
    //点击热点商品图片，进入该商品详情页，向后端传商品id
    $(".adv a").click(function () {
        var itgid = $(this).attr('hotgod.gooos_id');
        var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        $.ajax({
            url: "/detail_template",
            type: "POST",
            data: JOSN.stringify({'gid': itgid,"csrfmiddlewaretoken":token}),
            dataType: "text"
        })
    })
    //搜索框输入商品类型，进去该商品类型列表，向后端传用户输入商品类型名称
    $(".input_btn").click(function () {
        var type = $(".input_text").val();
        var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        // 判断用户输入是否为空
        if (type == '' || type == null) {
            var aobj = document.getElementById("search1");
            aobj.href = "";
            alert('未输入商品名称！')
        } else {
            console.log(type)
            window.location.href = "/list_template?keyword=" + type;
        }

    })
    // 点击更多，进入该商品类型商品列表，向后端传该商品类型id
    $(".goods_more a").click(function () {
    var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        var itgid = $(this).attr('GoodsCategory.id ');
        $.ajax({
            url: "/list_template",
            type: "POST",
            data: JOSN.stringify({'gid': itgid,"csrfmiddlewaretoken":token}),
            dataType: "text"
        })
    })
    //点击商品类型图片，进入该商品类型商品列表，向后端传该商品类型id
    $(".goods_banner a").click(function () {
    var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        var itgid = $(this).attr('GoodsCategory.id ');
        $.ajax({
            url: "/list_template",
            type: "POST",
            data: JOSN.stringify({'gid': itgid,"csrfmiddlewaretoken":token}),
            dataType: "text"
        })
    })
    // 点击商品图片，进入该商品详情页，向后端传该商品id
    $(".goods_list a").click(function () {
        var itgid = $(this).attr('goods.goods_id');
        var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        $.ajax({
            url: "/detail_template",
            type: "POST",
            data: JOSN.stringify({'gid': itgid,"csrfmiddlewaretoken":token}),
            dataType: "text"
        })
    })
});
</script>
</body>
</html>
