<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>商家界面</title>
    <link rel="icon" type="image/x-icon" href="./static/images/JingXi.ico">
    <script type="text/javascript" src="static/js/jquery3.js"></script>
    <script type="text/javascript" src="static/js/merchant_object.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main3.css">
    <script>
        $(function() {
           //搜索框输入商品类型，进去该商品类型列表，向后端传用户输入商品类型名称
        $(".input_btn").click(function () {
           var type = $(".input_text").val();
           var token = $('[name="csrfmiddlewaretoken"]').attr("value");
           // 判断用户输入是否为空
           if (type == '' || type == null) {
           var aobj = document.getElementById("search1");
           aobj.href = "";
           alert('未输入商品名称！')
       } else {
           console.log(type)
           window.location.href = "/list_template?keyword=" + type;
       }
    
        })
       });
    </script>
</head>

<body style="background-color: rgb(253, 253, 253)">
<div class="header_con">
    <div class="header">
        <div class="welcome fl">欢迎来到京西商城!</div>
        <div class="fr">
            {% if isLogin %}
                <div class="login_btn fl">
                    欢迎您：<em>{{ shop.name }}</em>
                    <span>|</span>
                    <a href="{logout}">退出</a>
                </div>
            {% else %}
                <div class="login_btn fl">
                    <a href="{login}">登录</a>
                    <span>|</span>
                    <a href="{register}">注册</a>
                </div>
            {% endif %}
            <div class="user_link fl">
                <span>|</span>
                <a href="user_center_info">用户中心</a>
                <span>|</span>
                <a href="cart">我的购物车</a>
                <span>|</span>
                <a href="user_center_order">我的订单</a>
            </div>
        </div>
    </div>
</div>

<div class="search_bar clearfix">
    <a href="index_template" class="logo fl"><img src="../static/images/jx.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;商家中心</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" id="search1" class="input_btn fr" name="" value="搜索">
    </div>		
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a href="merchant">· 店铺信息</a></li>
            <li><a href="merchant_object" class="active">· 商品管理</a></li>
            <li><a href="merchant_order">· 订单信息</a></li>
        </ul>
    </div>
    <div class="right_content clearfix">
        <h3 class="common_title2">全部商品</h3>
        <ul class="order_list_th w978 clearfix">
            <li class="col01">店铺商品：</li>
            <li class="col02">商品单价：</li>
            <li class="col02 stress">商品库存：</li>
            <li class="col02"> 商品的成交量：</li>
            <li class="col03">商家操作：</li>
        </ul>
        {% for good in goodsList %}
            <table class="order_list_table w980">
                <tbody>
                <tr>
                    {% if good.status == 0 %}
                    <td width="80%">
                        <ul class="order_goods_list clearfix">
                            <li class="col01"><dl style="position:absolute;">{{good.name}}</dl><img src="{{ good.img }}"></li>
                            <!-- <li class="col02">{{ good.price }}元</li> -->
                            
                            <li class="col02">
                                <input autocomplete="off" type="text" goodid="{{ good.id }}"
                                    value="{{ good.price }}" minnum="1" class="itxt" >元
                            </li>
                            <li class="col02">{{ good.number }}件</li>
                            <li class="col02">{{ good.deal }}件</li>
                                
                        </ul>
                    </td>
                   
                    <td width="30%" class="addr_td">
                        <dl class="col04" ><a id="put_on" href="javascript:;" good_operate1="{{ good.id }}" style="background: #ffffff; border-radius: 5px; color: red; border: solid red 1px; padding: 2px 3px; margin-bottom: 10px;">上架</a></dl><br>
                        <!-- <dl class="col05"><a id="put_off" href="javascript:;" good_operate2="{{ good.id }}" style="background: #ffffff; border-radius: 5px; color: rgb(0, 217, 255); border: solid rgb(0, 204, 255) 1px; padding: 2px 3px; margin-top: 10px;">下架</a></dl> -->
                    </td>
                    {% else %}
                    <td width="80%">
                        <ul class="order_goods_list clearfix">
                            <li class="col01"><dl style="position:absolute;">{{good.name}}</dl><img src="{{ good.img }}"></li>
                            <li class="col02">{{ good.price }}元</li>
                            <li>
                                <input autocomplete="off" type="text" goodid="{{ good.id }}"
                                    value="{{ good.number }}" minnum="1" class="itxt" maxnum={{ good.max_num }}>商品库存量
                            </li>
                            <li class="col02">{{ good.deal }}件</li>
                                
                        </ul>
                    </td>
                    <td width="30%" class="addr_td">
                        <!-- <dl class="col04" ><a id="put_on" href="javascript:;" good_operate1="{{ good.id }}" style="background: #ffffff; border-radius: 5px; color: red; border: solid red 1px; padding: 2px 3px; margin-bottom: 10px;">上架</a></dl><br> -->
                        <dl class="col05"><a id="put_off" href="javascript:;" good_operate2="{{ good.id }}" style="background: #ffffff; border-radius: 5px; color: rgb(0, 217, 255); border: solid rgb(0, 204, 255) 1px; padding: 2px 3px; margin-top: 10px;">下架</a></dl>
                    </td>
                    {% endif %}
                </tr>
                </tbody>
            </table>
        {% endfor %}
        <div class="pagenation">
            <a href="#">&lt;上一页</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">下一页&gt;</a>
        </div>
    </div>
</div>
<div class="footer no-mp">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2021 重庆京西商城 All Rights Reserved</p>
    <p>电话：999-****888 渝ICP备*******8号</p>
</div>

</body>
</html>
