<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商家界面</title>
<link rel="icon" type="image/x-icon" href="./static/images/JingXi.ico">
<script type="text/javascript" src="static/js/jquery3.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
<link rel="stylesheet" type="text/css" href="../static/css/main3.css">
<script>
$(function() {
    // 发送ajax POST 请求
    $(".col03 a").click(function() {
        console.log("加一")
        var id=$(this).attr('good_operate');
        var token = $('[name="csrfmiddlewaretoken"]').attr("value");
        $.ajax({
        url:"/merchant_order",
        type:"POST",
        data:JSON.stringify({'oid':id,"csrfmiddlewaretoken": token}),
        dataType : "text",
        success: function(){
            window.location.reload()
        }
        })
    });
});
</script>
</head>
<body style="background-color: rgb(253, 253, 253)">
    <div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎来到京西商城!</div>
			<div class="fr">
				{% if isLogin %}
				<div class="login_btn fl">
					欢迎您：<em>{{ shop.name }}</em>
                    <span>|</span>
					<a href="{logout}">退出</a>
				</div>
                {% else %}
				<div class="login_btn fl">
					<a href="{login}">登录</a>
					<span>|</span>
					<a href="{register}">注册</a>
				</div>
                {% endif %}
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info">用户中心</a>
					<span>|</span>
					<a href="cart">我的购物车</a>
					<span>|</span>
					<a href="user_center_order">我的订单</a>
				</div>
			</div>
		</div>		
	</div>

	<div class="search_bar clearfix">
		<a href="index_template" class="logo fl"><img src="../static/images/jx.png"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;商家中心</div>
		<div class="search_con fr">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>		
	</div>

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="merchant">· 店铺信息</a></li>
				<li><a href="merchant_object">· 商品管理</a></li>
				<li><a href="merchant_order" class="active">· 订单信息</a></li>
			</ul>
		</div>
	
        <div class="right_content clearfix">
            <h3 class="common_title2">全部订单</h3>
            {% for order in orderList %}
            <ul class="order_list_th w978 clearfix">
                <li class="col01">{{order.time}}</li>
                <li class="col02">订单号：{{order.order_id}}</li>
                <li class="col02 stress">处理状态：{{ order.state }}</li>
                <li class="col03"><a href="javascript:;" good_operate="{{order.order_id}}">发货</a></li>
            </ul>

            <table class="order_list_table w980">
                <tbody>
                    <tr>
                        <td width="55%">
                            <ul class="order_goods_list clearfix">
                                <li class="col01"><img src="{{order.img}}"></li>
                                <li class="col02">{{order.name}}<em>{{order.price}}元</em></li>
                                <li class="col03">{{order.num}}件</li>
                                <li class="col04">{{order.total_price}}元</li>
                            </ul>
                        </td>
{#<!--							货物的地址-->#}
                        <td width="30%" class="addr_td">{{order.addr}} {{ order.per_name }}收</td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
            <div class="pagenation">
                <a href="#">&lt;上一页</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">下一页&gt;</a>
            </div>
    </div>
</div>

    <div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>		
		</div>
		<p>CopyRight © 2021 重庆京西商城 All Rights Reserved</p>
		<p>电话：999-****888    渝ICP备*******8号</p>
	</div>
    
</body>
</html>
