<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>京西商城-商家登录</title>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/blueimp-md5/2.18.0/js/md5.js"></script>
    <script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link rel="icon" type="image/x-icon" href="./static/images/JingXi.ico">
    <link rel="stylesheet" type="text/css" href="../static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main3.css">
</head>
<body>



<div class="register_con">
    <div class="l_con fl">
        <a href="index_template" class="reg_logo"><img src="../static/images/jx.png" alt=""></a>
        <!-- </div> -->
        <div class="reg_slogan">来京西 · 开心每一天</div>
        <div class="reg_banner"></div>
    </div>
    <div class="login_form fr">
        <div class="login_title clearfix">
            <h1>商家登录</h1>
            <a href={% url 'merchant_register' %}>商家注册</a>
        </div>
        <div class="form_input">
            <form method="post">
                <input type="text" name="username" class="name_input" value="" placeholder="请输入用户名">
                <div class="user_error">输入错误</div>
                <input type="password" id="pwd" name="pwd" class="pass_input" placeholder="请输入密码">
                <div class="pwd_error">输入错误</div>
                <div class="more_input clearfix">
                    <input type="checkbox" name="remember">
                    <label>记住用户名</label>
                    <a href="#">忘记密码</a>
                </div>
                <input type="submit" name="" onclick="form_submit()" value="登录" class="input_submit">
            </form>
            {% if errmsg %}
                <script type="text/javascript">
                    alert("{{ errmsg}}");
                    window.location.href = "login";
                </script>
            {% endif %}
        </div>
    </div>
</div>
</div>

<div class="footer no-mp">
<div class="foot_link">
    <a href="#">关于我们</a>
    <span>|</span>
    <a href="#">联系我们</a>
    <span>|</span>
    <a href="#">招聘人才</a>
    <span>|</span>
    <a href="#">友情链接</a>
</div>
<p>CopyRight © 2021 重庆京西商城 All Rights Reserved</p>
<p>电话：999-****888 渝ICP备*******8号</p>
</div>
<script>
    function form_submit() {
        var pwd = $("#pwd").val();
        if (pwd.trim().length < 32) {
            pwd = md5(pwd);
            console.log(pwd);
        }
        $("#pwd").val(pwd);

    }
</script>


</body>

</html>
