<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>综合网购首选-正品低价、品质保障、配送及时、轻松购物！</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="css/main2.css">
    <link rel="stylesheet" href="css/normalize2.css" />
    <link rel="stylesheet" href="css/base2.css" />
    <link rel="stylesheet" href="css/cart2.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/base.js"></script>
    <script src="js/cart.js"></script>
    <script src="js/addSub.js"></script>
    <style>
        .welcome, .login_info, .login_btn, .user_link {
            line-height: 29px;
        }
        .fl {
            float: left;
        }
        div {
            display: block;
        }
        body {
            font-family: 'Microsoft Yahei';
            font-size: 12px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="search">
		<a href="index.html" class="logo fl"><img src="images/logo.png" width="150" height="59"></a>
		<a class="sub_page_name fl" onclick="alert('购买成功')">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</a>
	</div>

    	<div class="header_con">
		<div class="header">
			<div class="fr">
				<div class="login_info fl">
					欢迎来到京西商场!
				</div>
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>
	</div>
    <div class="py-container">
        <div class="w">
            <div class="allgoods">
                <!-- <h4>全部商品
                </h4>        -->
                <div class="cart-main">
                    <div class="cart-th clearfix">
                        <div><input type="checkbox">全选</div>
                        <div class="">商品</div>
                        <div class="">单价（元）</div>
                        <div class="">数量</div>
                        <div class="">小计（元）</div>
                        <div class="">操作</div>
                    </div>
                    <div class="cart-title clearfix">
                        <h5 class="fl">减免活动</h5>
                        <div class="yunfei fr">
                            运费：￥20.00
                            <span>还差￥56.00免运费</span>
                        </div>
                    </div>
                    <div class="cart-item-list">
                        <div class="cart-body">
                            <div class="cart-list">
                                {% for good in goodsList %}
                                <ul class="goods-list yui3-g">
                                    <li class="yui3-u-3-8 pr">
                                        <input type="checkbox" class="good-checkbox">
                                        <div class="good-item">
                                            <div class="item-img">
                                                <img src="images/goods/b5.jpg">
                                            </div>
                                            <div class="item-msg">{{good.name}}</div>
                                        </div>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <span></span>
                                        <br>
                                        <span></span>
                                        <br>
                                        <span></span>
                                        <br>
                                        <span></span>
                                        <br>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <span class="price">{{good.price}}</span>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <div class="clearfix">
                                            <a href="javascript1:;" class="increment mins">-</a>
                                            <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                                            <a href="javascript1:;" class="increment plus">+</a>
                                        </div>
                                        <div class="youhuo">有货</div>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <span class="sum" id='sumPrice'>{{good.sum}}</span>
                                    </li>
                                    <li class="yui3-u-1-8">
                                        <div class="del1">
                                            <a href="javascript:;">删除</a>
                                        </div>
                                        <!-- <div>移到我的关注</div> -->
                                    </li>
                                </ul>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-tool clearfix">
                    <div class="money-box">
                        <div class="sumprice">
                            <div class="sumprice-top">
                                <span>
                                    已选择
                                    <strong>0</strong> 件商品</span>
                                </span>
                                <em>总价（不含运费）：</em>
                                <i class="summoney">￥<span>44240.00</span></i>
                            </div>
                            <div class="sumprice-bottom">
                                已节省：￥20.00
                            </div>
                        </div>
                        <div class="sumbtn">
                            <a class="sum-btn" href="place_order.html">结算</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="foot_link">
                <a href="#">关于我们</a>
                <span>|</span>
                <a href="#">联系我们</a>
                <span> | </span>
                <a href="#">联系客服</a>
                <span> | </span>
                <a href="#">合作招商</a>
                <span> | </span>
                <a href="#">商家帮助</a>
                <span> | </span>
                <a href="#">营销中心</a>
                <span>|</span>
                <a href="#">招聘人才</a>
                <span>|</span>
                <a href="#">友情链接</a>
            </div>
            <p>CopyRight © 2021 重庆京西科技有限公司 All Rights Reserved</p>
            <p>电话：023-****888    京ICP备*******8号</p>
        </div>
    </footer>
</body>
</html>